@use './partials/reset' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

body{
    background-color: $primary-color;
}

header, footer{
    background-color: $headfoot-color;
    color: #fff;
    font-family: 'lato';
}